---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
	<Header />
	<main>
		<section id="about-me" class="section">
			<h2></h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto architecto nam exercitationem quas voluptatibus placeat est quia tempore quisquam suscipit cupiditate assumenda recusandae ullam, expedita, odit ea odio repudiandae nulla?</p>
			<p>Aperiam voluptatum commodi nobis saepe odio libero labore, quibusdam cupiditate ducimus accusantium delectus vitae cumque quasi, dolor ipsa iusto veritatis dolore. Inventore, culpa beatae. Eos nemo eaque vitae dolore autem.</p>
			<p>Aspernatur nulla eos ipsam vitae ut! Deserunt, rerum est? Quisquam mollitia beatae, modi optio amet ad iusto iste nisi, eligendi consectetur sed odio sint, ipsam qui! Modi amet fugit soluta?</p>
			<p>Temporibus eaque dicta maxime aut ea voluptatum facere quibusdam explicabo consectetur. Praesentium fugit rem ut ea commodi, laborum pariatur quas delectus autem et veritatis dolorum nobis, harum quam! Perferendis, ducimus?</p>
			<p>Asperiores cum sed qui ea eveniet, est facere ipsa explicabo sit distinctio aliquid saepe mollitia eius! Earum voluptatibus, est vitae impedit in saepe voluptates tempore aperiam, magni cupiditate at eveniet!</p>
			<p>Perferendis magni sit sapiente atque officia, amet pariatur perspiciatis, quia vero quos quo voluptates error facilis dolorum est consectetur aliquam! Beatae esse itaque corporis minus id minima amet. Eos, necessitatibus?</p>
			<p>Blanditiis culpa accusamus mollitia tempore tenetur. Illo rerum hic asperiores praesentium autem placeat vel, culpa deserunt cupiditate. Eveniet odit vel, illum odio exercitationem, molestias delectus recusandae obcaecati laboriosam animi nostrum.</p>
			<p>In et praesentium cupiditate. Voluptatum, optio veritatis molestiae nemo velit ab architecto autem, eius porro cupiditate eligendi, sapiente tempore impedit soluta aperiam tenetur nam dolorem saepe commodi? Dolor, autem perspiciatis?</p>
			<p>Dolor doloribus, obcaecati aut ratione, omnis ullam alias nam quibusdam laudantium voluptates odit eligendi expedita quidem earum repellendus quisquam architecto! Recusandae et unde iure! Accusamus labore iure deleniti repudiandae sit!</p>
			<p>A veritatis sapiente fugiat architecto eligendi, nobis quos voluptate similique repellat velit iure, nesciunt molestiae in porro numquam corporis officia, vel earum. Odit unde deserunt, ab nihil consectetur cum praesentium!</p>
		</section>
		<Projects />
		<section id="contact" class="section">
			<h2></h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto architecto nam exercitationem quas voluptatibus placeat est quia tempore quisquam suscipit cupiditate assumenda recusandae ullam, expedita, odit ea odio repudiandae nulla?</p>
			<p>Aperiam voluptatum commodi nobis saepe odio libero labore, quibusdam cupiditate ducimus accusantium delectus vitae cumque quasi, dolor ipsa iusto veritatis dolore. Inventore, culpa beatae. Eos nemo eaque vitae dolore autem.</p>
			<p>Aspernatur nulla eos ipsam vitae ut! Deserunt, rerum est? Quisquam mollitia beatae, modi optio amet ad iusto iste nisi, eligendi consectetur sed odio sint, ipsam qui! Modi amet fugit soluta?</p>
			<p>Temporibus eaque dicta maxime aut ea voluptatum facere quibusdam explicabo consectetur. Praesentium fugit rem ut ea commodi, laborum pariatur quas delectus autem et veritatis dolorum nobis, harum quam! Perferendis, ducimus?</p>
			<p>Asperiores cum sed qui ea eveniet, est facere ipsa explicabo sit distinctio aliquid saepe mollitia eius! Earum voluptatibus, est vitae impedit in saepe voluptates tempore aperiam, magni cupiditate at eveniet!</p>
			<p>Perferendis magni sit sapiente atque officia, amet pariatur perspiciatis, quia vero quos quo voluptates error facilis dolorum est consectetur aliquam! Beatae esse itaque corporis minus id minima amet. Eos, necessitatibus?</p>
			<p>Blanditiis culpa accusamus mollitia tempore tenetur. Illo rerum hic asperiores praesentium autem placeat vel, culpa deserunt cupiditate. Eveniet odit vel, illum odio exercitationem, molestias delectus recusandae obcaecati laboriosam animi nostrum.</p>
			<p>In et praesentium cupiditate. Voluptatum, optio veritatis molestiae nemo velit ab architecto autem, eius porro cupiditate eligendi, sapiente tempore impedit soluta aperiam tenetur nam dolorem saepe commodi? Dolor, autem perspiciatis?</p>
			<p>Dolor doloribus, obcaecati aut ratione, omnis ullam alias nam quibusdam laudantium voluptates odit eligendi expedita quidem earum repellendus quisquam architecto! Recusandae et unde iure! Accusamus labore iure deleniti repudiandae sit!</p>
			<p>A veritatis sapiente fugiat architecto eligendi, nobis quos voluptate similique repellat velit iure, nesciunt molestiae in porro numquam corporis officia, vel earum. Odit unde deserunt, ab nihil consectetur cum praesentium!</p>
		</section>
	</main>
</Layout>
