---
import '../styles/global.css'
import LoadingScreen from '../components/LoadingScreen.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/flower-dark.svg" media="(prefers-color-scheme: dark)">
		<link rel="icon" href="/flower-light.svg" media="(prefers-color-scheme: light)">
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
		<LoadingScreen />
	</body>
</html>

<style>
	html {
		@apply scroll-smooth;
	}
</style>